html
	body
		background-color rgb(239,239,244)
		header
			width 16em
			height 2em
			background-color black
			position relative
			h1
				font-size 1em 
				color white
				text-align center
				line-height 2em
		a 
			display block
			height 2em
			width 16em
			background-color white
			line-height 2em
			position relative
			img
				display inline-block
				width 1.6em
				height 1.6em
				vertical-align middle
			span
				display inline-block
				font-size 1em
				text-align center
				height 2em
				line-height 2em
			i 
				display inline-block
				font-size 1em
				float right
				line-height 2em
				color gray
				margin-right 1em
			div
				display none
		.friend
			margin-top 1em		
		.sao
			margin-top 1em	
			div
				display block
				position absolute
		.fujin
			margin-top 1em	
		.shopping
			margin-top 1em	
/*px不会犹豫腹肌px样式影响子级px样式*/
/*em会根据父级样式进行等比缩放*/
		